<!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>About Us</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="well-left">
                <div class="single-well">
                  <a href="#">
                    <img src="./assets/img/pic6.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="well-middle">
                <div class="single-well">
                  <a href="#">
                    <h4 class="sec-head">project Overview</h4>
                  </a>
                  <p>
                    We are Jordanian leading train and coach app. To put it simply, we are a one-stop-shop for train and coach travel. Every day, we gather routes, prices, and travel times from over 270 rail and coach operators in 45 countries, so that everyone can buy tickets quickly and save time, effort, and money.
                    <br>
                    <br>
                    We stay one step ahead, so all of our customers don’t have to, we are making it easier for them to buy the best ticket for their journey with giving them live, personalised travel information on the go via Train Station site.   We offer a comprehensive collection of travel options to our customers, as well as unique, AI-driven information to help them make the best decisions.                </p>
                
                </div>
              </div>
            </div>
            <!-- End col-->
          </div>
        </div>
      </div><!-- End About Section -->


      
