<app-header></app-header>

<section class="tm-banner">
    <div class="tm-container-outer tm-banner-bg">
        <div class="container">

            <div class="row tm-banner-row tm-banner-row-header">
                <div class="col-xs-12">
                    <div class="tm-banner-header">
                        <h1 class="text-uppercase tm-banner-title">Let's begin</h1>
                        <img src="./assets/img/dots-3.png" alt="Dots">
                        <p class="tm-banner-subtitle">We assist you to choose the best.</p>
                        <a href="javascript:void(0)" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>       
                    </div>    
                </div>                      
            </div> 
            <div class="row tm-banner-row" id="tm-section-search">




                <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
                    <div class="form-row tm-search-form-row">                                
                      
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                            <label for="inputRoom">Staion</label>
                            <select name="room" class="form-control tm-select" id="inputRoom">
                                <option value="1" selected> Amman</option>
                                <option value="2"> Irbid</option>
                                <option value="3"> Madaba</option>
                                <option value="4"> Alkarak </option>
                           
                            </select>                                        
                        </div>
                    </div> 
                    <div class="form-row tm-search-form-row">

                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                            <label for="inputCheckIn">Check In </label>
                            <input name="check-out" type="date" class="form-control" id="inputCheckOut" placeholder="Check in">
                        </div>
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                            <label for="inputCheckOut">Check Out </label>
                            <input name="check-out" type="date" class="form-control" id="inputCheckOut" placeholder="Check Out">
                        </div>
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                            <label for="btnSubmit">&nbsp;</label>
                            <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">Check Availability</button>
                        </div>
                    </div> 
                    
                    
                </form>                             



            </div>
            <div class="tm-banner-overlay"></div>
        </div>                
    </div>                  
</section>

















<app-about id="aboutu"></app-about>
<app-contact id="contact"></app-contact>
<app-testmonial id="test"></app-testmonial>

<app-footer></app-footer>