<section class="testt">
    <div id="contact" class="contact-area">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Testimonial</h2>
                        </div>
                    </div>
                </div>
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption">
                                <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                                    don't know what will.This was the very best explanation of frameworks for brginners
                                    that
                                    I've ever seen. </p> <img src="https://i.imgur.com/lE89Aey.jpg">
                                <div id="image-caption">Nick Doe</div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                                    don't know what will.This was the very best explanation of frameworks for brginners
                                    that
                                    I've ever seen.</p> <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                                <div id="image-caption">Cromption Greves</div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I
                                    don't know what will.This was the very best explanation of frameworks for brginners
                                    that
                                    I've ever seen.</p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                                <div id="image-caption">Harry Mon</div>
                            </div>
                        </div>
                    </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class="fa fa-arrow-left"
                            aria-hidden="true"></i></a> <a class="carousel-control-next" href="#demo" data-slide="next">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------testmonial form-------------------------------------->
    <div id="contact" class="contact-area">
        <div class="contact-inner area-padding">

            <div class="container test ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Testimonial Form</h2>
                        </div>
                    </div>
                </div>

                <div class="container test">

                    <!-- Start  contact -->

                    <div class="form contact-form">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                    required></textarea>
                            </div>
                            <!-- <div class="text-center"><button type="submit">Send Message</button></div> -->
                            <button type="submit" class="btn btn-block tm-btn tm-btn-search text-uppercase"
                                id="btnSubmit">Send Message</button>

                        </form>
                    </div>

                    <!-- End Left contact -->
                </div>
            </div>
        </div>
    </div><!-- End Contact Section -->
</section>